<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>猜歌名Plus</title>
	<link rel="stylesheet" type="text/css" href="./css/element.css">
	<link rel="stylesheet" type="text/css" href="./css/vxe.css">
	<script src="./js/vue/vue.js"></script>
	<script src="./js/vue/element.js"></script>
	<script src="./js/filtered-songs.js"></script>
	<script src="./js/seedrandom.min.js"></script>

	<link rel="stylesheet" href="./css/base.css">
	<link rel="stylesheet" href="./css/main.css">
</head>

<body>

	<div id="app">
		<div v-if="visible" class="fixed-message">
			{{ message }}
		</div>
		<!-- 标题栏 -->
		<div class="biaotilan"
			style="display: flex;align-items: center;justify-content: space-between;position: relative;">
			<div style="display: flex;align-items: center;">
				<h1 style="margin-bottom: 5px;margin-top: 5px;" @click="copyURL">猜歌名Plus</h1>
				<div @click="copyURL" style="cursor: pointer;"><el-tag type="info" v-if="currentSongSetting.songID!='' "
						effect="plain" size="mini" style="margin-left: 10px;">{{currentSongSetting.songID}}</el-tag>
				</div>

			</div>
			<div style="display: flex;align-items: center;">

				<a href="https://yangzhiganlu1.github.io/guessPoetry/" target="_blank">
					<img src="./poetry.png" alt="去猜诗词" style="width: 30px;margin-right: 7px;">
				</a>


				<el-tag type="success" v-if="currentSongSetting.isEveryDayMode" style="margin-right: 2px;">每日</el-tag>
				<el-tag v-if="!currentSongSetting.isEveryDayMode" style="margin-right: 2px;">随机</el-tag>
			</div>


		</div>

		<!-- 按钮组 -->
		<div style="display: flex;justify-content: start;margin-bottom: 16px;flex-wrap: wrap;" class="buttons">
			<button @click="changeAnother">换一首</button>
			<button @click="addTips" style="margin-left: 10px;">加点提示</button>

			<button @click="showSingerSetting=!showSingerSetting;" style="margin-left: 10px;">
				设置
				<i class="el-icon-arrow-down" v-if="!showSingerSetting"></i>
				<i class="el-icon-arrow-up" v-else></i>
			</button>

			<button @click="clickEveryDay" style="margin-left: 10px;">每日挑战</button>

			<div style="display: flex;align-items: center;margin-top: 10px;margin-left: 10px;">无敌版 <el-switch
					v-model="vipVersion" active-color="#1484cb" inactive-color="grey" style="margin-left: 5px;">
				</el-switch>
				<button @click="showAnswer" v-if="vipVersion" style="margin-left: 10px;">显示答案</button>
				<button @click="resetGuess" v-if="vipVersion" style="margin-left: 10px;">重置</button>
			</div>
		</div>
		<!-- 歌手选择 -->
		<div v-if="showSingerSetting">
			<div>
				<div style="display: flex;align-items: center;">
					<div style="padding-bottom: 5px;">歌手范围：</div>
					<el-radio v-model="memorySetting.singerMode" label="all">我全都要！</el-radio>
					<el-radio v-model="memorySetting.singerMode" label="diy">我自己选~ </el-radio>
				</div>
				<div v-if="memorySetting.singerMode=='diy'" style="margin-top: 10px;">
					<el-tag :key="tag" v-for="tag in memorySetting.dynamicTags" closable :disable-transitions="false"
						@close="handleClose(tag)" style="margin: 5px;">
						{{tag}}
					</el-tag>
					<el-input class="input-new-tag" v-if="inputVisible" v-model="inputValue" ref="saveTagInput"
						size="small" @keyup.enter.native="handleInputConfirm" @blur="handleInputConfirm"
						style="margin: 5px;" style="margin: 5px;">
					</el-input>
					<el-button v-else class="button-new-tag" size="small" @click="showInput" style="margin: 5px;">+ 新增
					</el-button>
				</div>
			</div>
			<!-- <div style="margin-top: 10px;">
				<button @click="showSingerSetting=false">收起</button>
			</div> -->
			<div class="dashed-line"></div>
			<div style="display: flex;align-items: center;">简单模式

				<el-switch v-model="memorySetting.easyMode" active-color="#1484cb" @change="easyChange"
					inactive-color="grey" style="margin-left: 5px;">
				</el-switch>

				<el-slider @change="sliderChange" :disabled="!memorySetting.easyMode" v-model="memorySetting.easyFactor"
					:min="10" :max="100" style="width: 60%;margin-left: 20px;">
			</div>
			<div class="dashed-line"></div>

			<div style="display: flex;align-items: center;flex-wrap: nowrap;">歌手 <el-input class="input-new-tag"
					v-model="searchParam.singer" size="small" style="margin: 5px;width: 25%;" clearable>
				</el-input>
				歌名 <el-input class="input-new-tag" v-model="searchParam.song" size="small"
					style="margin: 5px;width: 25%;" clearable>
				</el-input>
				<el-button class="button-new-tag" size="small" @click="searchSong" style="margin: 5px;">搜索</el-button>
			</div>

			<!-- 结果列表 -->
			<div v-if="searchList.length>0">
				<div v-for="(line, index) in searchList" :key="index" class="search-row" @click="switchSong(index)">
					<div style="display: flex;">
						<div>{{ line.name }} - {{ line.singer }}</div>
					</div>
					<div
						style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;color: #767676;">
						{{ line.concatLyric }}</div>

				</div>
				<div v-if="overLimit" style="color: #52976B;">还有...懒得显示了...</div>
			</div>
			<div v-else-if="cantSearch">查不到...！！！</div>
			<div class="dashed-line"></div>
		</div>


		<!--主页  -->
		<div style="position: sticky;top:0;background-color: white;padding-bottom: 15px;">
			<div :class="{ black:!currentSongSetting.success,green: currentSongSetting.success}">
				<strong>猜测次数：</strong><span>{{ currentSongSetting.guessCount }}</span>
				<strong>提示次数：</strong><span>{{ currentSongSetting.tipCount }}</span>
			</div>
			<!-- 猜测输入框 -->
			<div style="display: flex;width: 100%;justify-content: center;margin-top: 10px;">
				<!--  maxlength="1"    -->
				<el-input v-model="inputLetter" ref="guessInput" clearable placeholder="" autosize class="input-class"
					style="width: 90%;margin-right: 10px;height: 120%;" @change="guess">
				</el-input>
				<el-button @click.native.prevent="guess" @keyup.native.enter="guess" type="primary"
					style="padding-right: 10px;">猜！</el-button>
			</div>
			<div v-if="currentSongSetting.success&&!clickShowAnswer"
				style="margin-top: 10px;display: flex;align-items: center;">
				<div style="color:#8ecc6a;display: flex;align-items: center;"> 恭喜你猜对咯！</div>
				<button @click="clickShare" style="
			margin-left: 0px;
			padding: 2px 8px;
			font-size: 12px; 
			background-color: #67C23A;
			color: white; 
			border: none;
			border-radius: 4px; 
			cursor: pointer;
			display: inline-flex; 
			align-items: center; 
		  ">
					分享
					<i class="el-icon-share" style="margin-left: 4px;"></i>
				</button>
			</div>
			<div v-if="successMessage" style="color:#8ecc6a;"> {{successMessage}}</div>
			<div v-if="wrongMessage" style="color:#f74f44;"> {{wrongMessage}}</div>
		</div>


		<!--  歌名：-->
		<h2 style="margin-bottom: 5px;margin-top: 0px;" class="titless">歌名：</h2>
		<div class="box-container" :class="{ cantcopy:!currentSongSetting.success }">
			<div class="box" v-for="(letter, index) in currentSongSetting.titleLetters" :key="index"
				:class="{ blank:letter.blank,unrevealed:letter.blank?true:!letter.revealed,revealed: letter.blank?false:letter.revealed,auto:letter.revealed?false:letter.auto, }">
				{{ letter.letter }}
			</div>
		</div>
		<!--  歌手：-->
		<h2 style="margin-bottom: 5px;margin-top: 5px;" class="titless">歌手：</h2>
		<div class="box-container" :class="{ cantcopy:!currentSongSetting.success }">
			<div class="box" v-for="(letter, index) in currentSongSetting.singerLetters" :key="index"
				:class="{ blank:letter.blank,unrevealed:letter.blank?true:!letter.revealed,revealed: letter.blank?false:letter.revealed,auto:letter.revealed?false:letter.auto, }">
				{{ letter.letter }}
			</div>
		</div>
		<!-- 歌词 -->
		<h2 style="margin-bottom: 5px;margin-top: 5px;" class="titless">歌词：</h2>
		<div class="box-container" :class="{ cantcopy:!currentSongSetting.success }">
			<div v-for="(line, index) in currentSongSetting.lyricLetters" :key="index"
				style="display: flex;width: 100%;flex-wrap: wrap;flex-direction: row;">
				<div v-for="(letter, idx) in line" :key="idx" class="box"
					:class="{ blank:letter.blank,unrevealed:letter.blank?true:!letter.revealed,revealed: letter.blank?false:letter.revealed,auto:letter.revealed?false:letter.auto, }">
					{{ letter.letter }}
				</div>
			</div>
		</div>
		<div class="wrong-guess-box" style="display: flex;flex-wrap: wrap;width: 100%;">
			<div class="box" v-for="(guess, index) in currentSongSetting.wrongGuesses" :key="index">
				{{ guess }}
			</div>
		</div>
		<h6 style="margin-top: 20px;color: grey;">*仅供学习交流*</h6>
		<!-- 成功弹框 -->
		<el-dialog title="" :visible.sync="centerDialogVisible" width="200px" center>
			<div>恭喜你猜对咯！！</div>
			<div>一共只猜测了{{ currentSongSetting.guessCount }}次~~</div>
			<div>( 提示{{ currentSongSetting.tipCount }}次 )</div>
			<span slot="footer" class="dialog-footer">
				<el-button @click="centerDialogVisible = false">关闭</el-button>
				<el-button @click="clickShare">分享</el-button>
			</span>
		</el-dialog>
	</div>

	<script src="./js/main.js"></script>

</body>

</html>